---
import '@fontsource-variable/karla';
---

<div class="font-karla shadow-xl grid md:grid-cols-2">
	<!-- Part 1 -->
	<div class="bg-[#FFFF] p-5 flex flex-col gap-5 md:col-span-2 rounded-t-lg md:gap-3 md:px-10">
		<h3 class="text-pcyan text-xl">Join our community</h3>
		<p class="text-pbright">30-day, hassle-free money back guarantee</p>
		<p class="text-pgblye text-sm font-light">Gain access to our full library of tutorials slong with expert code reviews. Perfect for any developers who are serious about honing their skills.</p>
	</div>

	<!-- Part 2 -->
	<div class="bg-pcyan text-plgray p-5 flex flex-col gap-5 justify-center md:gap-5 md:px-10 md:rounded-es-lg">	
		<h3 class="text-lg">Monthly Subscription</h3>
		<div class="flex flex-col gap-1">
			<p class="text-2xl font-bold flex items-center gap-2">$29 <span class="text-sm font-thin text-plgray">per month</span></p>
			<p class="font-light text-xs">Full access for less than $1 a day</p>
		</div>
		<button class="bg-pbright py-3 rounded-sm shadow-lg">Sign up</button>

	</div>
	
	<!-- Part 3 -->
	<div class="bg-pcyan/90 text-plgray p-5 flex flex-col gap-3 md:gap-3 md:px-10 rounded-ee-lg rounded-es-lg md:rounded-es-none">
		<h3 class="font-semibold">Why Us</h3>
		<ul class="text-plgray font-light text-sm">
			<li>Tutorials by industry experts</li>
			<li>Peer & expert code review</li>
			<li>Coding exercises</li>
			<li>Access to our GitHub repos</li>
			<li>Community forum</li>
			<li>Flashcard decks</li>
			<li>New videos every week</li>
		</ul>
	</div>
</div>